{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <h2 class="title p-4">About Free QR Code generator</h2>
    <p class="">This APP was built for the final project of Harvard Business School's CS50 course and is completely free and virus-free. You can generate as many QR Codes as you like!</p>
    <br>
    <h4 class="title p-3">Name: <strong>Fernando Derenievicz Pereira</strong></h4>
    <h4 class="title p-3">Github: <strong>proferr</strong></h4>
    <h4 class="title p-3">EDX: <strong>fernando_derenievicz</strong></h4>
    <h4 class="title p-3">From: <strong>Curitiba / Brazil</strong></h4>
    <h4 class="title p-3">Today: <strong>12/30/2024 23:28 UTC-3</strong></h4>


    <p>All content...</p>
{% endblock %}
